html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* //////////////////////////// */
/* HEADER & NAV */
/* //////////////////////////// */
nav {
  width: 100%;
  /* border: 1px solid red; */
}
.banner {
  height: 60vh;
  padding: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0, .4), rgba(0,0,0, .9)), url("../assets/bookshelf.jpg");
}

.form-inline {
  width: 100% !important;
  justify-content: center;
}

.row input {
  margin-right: 1em;
}
/* //////////////////////////// */
/* MODAL */
/* //////////////////////////// */
#myModal label{
  font-size: .8em;
}

/* //////////////////////////// */
/* CONTROLS */
/* //////////////////////////// */



/* //////////////////////////// */
/* CARDS */
/* //////////////////////////// */

.book-cards{
  /* border: 2px solid blue; */
}
.book-cards p{
  font-size: .7em;
}
.card{
  width: 18%;
  margin: .5em;
  display: inline-block;
  border: 1px solid grey;
}
.card img{
  width: 100%;
}
/* //////////////////////////// */
/* TABLE */
/* //////////////////////////// */
table td,
table th{
  vertical-align: middle !important;
}

td img{
  width: 50px;
}
td .edit,
td .delete{
  margin: 10px;
}
/* //////////////////////////// */
/* RATINGS */
/* //////////////////////////// */

.rating-stars ul {
  list-style-type:none;
  padding: 0;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  padding-right: 0;
  /* border: 1px solid red; */
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1.2em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
